*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1rem;
    background-color: #2f3d46;
    color: white;
    padding: 2rem;
}
nav h2{
    font-family: 'Open Sans';
    margin: 0 auto;
    letter-spacing: 3px;
    font-weight: 600;
}
main{
    background-color: rgb(192, 200, 192);
    height: 91vh;
    display: flex;
    overflow: hidden;
    padding: 10vh 5vw;
}
aside{
    width: 32%;
    height: 70vh;
    background-color: rgb(55, 53, 53);
    border-radius: 2rem;
}
article{
    margin-left: 15vh;
    width: 100%;
    height: 70vh;
    background-color:inherit;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
article input[type="text"]{
    width: 40vw;
    height: 7vh;
    color :white;
    background-color: rgb(55, 53, 53);
    border-radius: 0.5rem;
}
article input[type = "text"]::placeholder{
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}
.box1{
display: flex;
justify-content: space-between;
height: 30%;
width: 100%;
}
.box{
    width:15vw;
    height: 100%;
    background-color:rgb(55, 53, 53);
    border-radius: 1rem;
}
.box2{
    height: 21vh;
    width:100%;
    border-radius: 1rem;
    background-color: rgb(55, 53, 53);
}